<br>
<h4 class="teal-text accent-4"><%= @user.first_name %> <%= @user.last_name %>'s PR Journal</h4>
<br>

<p>Recently Viewed: <%= @workout? @workout.name : "Haven't viewed any workouts." %></p>

<table class="highlight">
  <thead>
    <tr>
        <th>Exercise</th>
        <th>Personal Record</th>
        <th>Date</th>
        <th></th>
    </tr>
  </thead>

  <tbody>


  <% if !@workouts.empty? %>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout.name%></td>
        <td><%= workout.personal_record%> lbs</td>
        <td><%= workout.date%></td>
        <td><a href="/workouts/<%= workout.id %>" class="btn-small">View</a></td>
      </tr>
    <% end %>
  <% else %>
    <td>You have no PRs logged yet!</td>
    <td></td>
    <td></td>
  <% end %>



  </tbody>
</table>
<br>
<a href="/workouts/new" class="btn-large ">Add New PR</a>
<br>
<br>
<img src="images/deadlift.jpg" class="circle">
<br>


